<div class="banner" style="background-image: url('{{ article.imageName ? vich_uploader_asset(article) : 'https://picsum.photos/1920/1080' }}')">
	<div class="banner-header">
		<h1>{{ article.titre }}</h1>
	</div>
</div>
