<div class="banner" style="background-image: url('{{ article.images | length > 0 ? vich_uploader_asset(article.images[0]) : 'https://picsum.photos/1920/1080' }}')">
	<div class="banner-header">
		<h1>{{ article.titre }}</h1>
	</div>
</div>
