.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    .blog-card {   /*equiv de .blog-list .blog-card { } */
        width: 30% ;
        border-radius: $border-radius;
        background: $white;
        box-shadow: $box-shadow-blog-card;
        margin-top: 4em;
    

        &-img {
            width: 90%;
            margin: -4em auto 0; /* effet pour que l'image sorte de la carte*/
            display: block;
            border-radius: $border-radius;
            box-shadow: $box-shadow-blog-img;
            height: 50%;
            object-fit: cover;
        }

        &-content{
            padding: 2em 2em 1em;
            height: calc(50% + 4em);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}
