.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    .blog-card {
        width: 30%;
        border-radius: $border-radius;
        background: $white;
        box-shadow: $box-shadow-blog-card;
        margin-top: 5em;

        .link-img {
            height: 50%;
            width: 100%;
            margin: -4em auto 0;
            display: block;
        }

        &-img {
            width: 90%;
            margin: auto;
            display: block;
            border-radius: $border-radius;
            box-shadow: $box-shadow-blog-img;
            height: 100%;
            object-fit: cover;
        }

        &-content {
            padding: 2em 2em 1em;
            height: calc(50% + 4em);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &.tags {
            .blog-card-content {
                padding: 1em;
                height: unset;
            }
        }
    }
 
}

ul.pagination {
    justify-content: center;
}