.form-filter{
    position: relative;
    z-index: 1;

        .loader{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index:3;
        }

        &.is-loading::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            background: rgba(255,255,255,0.5);
        }
}