// Color
$primary: #1b2731;
$secondary: #f8c557;
$tertiary: #252c33;

$text-color: #777777;
$grey: #888;
$grey-light: #bdbdbd;
$grey-aside: #ececec;
$white: #f5f5f5;
$dark-blue: #0b2864;
$grey-banner: #fcfcfd;
$heading: #48455a;

/** Fonts **/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

$font-primary: "Lato", sans-serif;

$h1-font-size: clamp(2rem, 3.7vw, 2.75rem);
$h2-font-size: clamp(2rem, 3.5vw, 2.55rem);
$h3-font-size: clamp(2rem, 3.7vw, 2.1875rem);
$h4-font-size: clamp(2rem, 3.7vw, 1.875rem);
$h5-font-size: clamp(2rem, 3.7vw, 1.5625rem);
$h6-font-size: clamp(2rem, 3.7vw, 1.25rem);

// Border radius
$border-radius: 8px;
