<div class="js-filter-sortable d-flex gap-2">
    {{ knp_pagination_sortable(articles,'Date','a.createdAt', {'direction': 'DESC', 'class':'btn btn-primary d-flex gap-1'})}}
    {{ knp_pagination_sortable(articles,'Titre','a.titre', {'direction': 'ASC', 'class':'btn btn-primary d-flex gap-1'})}}
</div>